.page-container {
  max-width: 1000px !important;
}

.v-application--wrap {
  background-color: #fff !important;
}

a {
  text-decoration: none !important;
}

a.highlight:hover {
  text-decoration: underline !important;
}

.link-inherit {
  color: inherit !important;
}
