
.v-card {
  background-color: #fafafa !important;
}

a {
  text-decoration: none !important;
}

a.highlight:hover {
  text-decoration: underline !important;
}

.link-inherit {
  color: inherit !important;
}

